<!-- As a link -->
<nav class="navbar navbar-bg">
    <div class="navbar-brand">
        <img src="../../../assets/img/hackerNewsIcon.png" class="headericon" width="40px" height="40px" alt="">
        <span class="text-uppercase hacker-txt text-white"><b>Hacker News</b></span>
    </div>
   
   <div class="text-right headertxt"><button class="btn header-btn text-white"> Master</button>
   </div>
   <mat-icon aria-hidden="false" (click)="logut()">logout</mat-icon>
  </nav>
<router-outlet></router-outlet>